<!DOCTYPE html>
<html>
<head>
    <title>Crear torn neteja</title>
</head>
<body>
    <button id="atras">Enrrere</button>
    <h1>Crear torn neteja</h1>
    <form>
        <select name="dias">
            <option>Alumno 1</option>
            <option>Alumno 2</option>
            <option>Alumno 3</option>
            <option>Alumno 4</option>
            <option>Alumno 5</option>
            <option>Alumno 6</option>
            <option>Alumno 7</option>
          </select>
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha"><br><br>
    </form>
    <button id="crear-deuda">Crear torn neteja</button>
    <button id="cancelar">Cancel·lar</button>
</body>
</html>