<!DOCTYPE html>
<html>
    <head>
        <title th:text="${crearTornNetejaWord}"></title>
    </head>
    <body>
        <button id="atras" th:text="${atrasWord}"></button>
        <h1 th:text="${crearTornNetejaWord}"></h1>
        <form>
            <label for="c" th:text="${nomNetejadorWord}"></label>
            <input type="text" name="c"><br>
            <label for="fecha" th:text="${dataWord}"></label>
            <input type="date" id="fecha" name="fecha"><br><br>
        </form>
        <button id="crear-deuda" th:text="${crearTornNetejaWord}"></button>
        <button id="cancelar" th:text="cancelarWord"></button>
    </body>
</html>