<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Crear recepta</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1>CREAR RECEPTA</h1>
        </div> 
        <div>
            <form action="" method="POST">
                <label for="nom">Nom:</label><br>
                <input type="number" id="preu" name="preu"><br>
                <label for="descripcio">Descripció:</label><br>
                <textarea id="descripcio" name="descripcio" rows="4" cols="50"></textarea><br>  
            </form>
            <h3>Ingredientes:</h3>
            <table>
                <tr>
                    <th>Tomaquet</th>
                </tr>
                <tr>
                    <th>Pastanaga</th>
                </tr>
            </table>
            <button>+</button>
            <button>-</button>
            <br>
            <button><a href="/listaRecetas">Crear recepta</a></button>
            <button><a href="/listaRecetas">Cancelar</a></button>
        </div>
    </body>
</html>