<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1 th:text="${titulo}"></h1>
        </div> 
        <div>
            <form th:action="/guardarBebida" method="post" th:object="${bebida}">
                <input type="hidden" name="id" th:field="*{id}"/>
                <label for="nom">Nom:</label><br>
                <input type="text" id="nom" name="nom" th:field="*{nombre}"><br>
                <label for="precio">Preu:</label><br>
                <input type="number" id="precio" step="any" name="precio"th:field="*{precio}"><br>
                <label for="desc">Descripció:</label><br>
                <textarea id="desc" name="desc" th:field="*{desc}" rows="4" cols="50"></textarea><br>  
                <input type="submit" name="guardar" value="Guardar beguda"/> 
            </form>
    
            <a href="/listaBebidas">Cancelar</a>
        </div>
    </body>
</html>
