<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Begudes</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <button><a href="/listaRecetas">>Edita</a></button>
            <button>Begudes</button>
        </div>
        <div>
            <ul th:each="bebida: ${bebidas}">
                <li th:text="${bebida.nombre}"></li> 
                <li th:text="${bebida.precio}"></li>
                <button><a href="/editarBebida">Edita</a></button>
                <button>Elimina</button>
            </ul>
        </div>
        <div>
            <button><a href="/crearBebida">Nova beguda</a></button>
        </div>
    </body>
</html>