<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head th:replace="~{plantillas/plantilla :: head}"/>
    <body>
         <nav th:replace="~{plantillas/plantilla :: menuAdmin}"/>
        <main class="main-wrapper"/>
        <header th:replace="~{plantillas/plantilla :: headAdmin}"/>
        
        <br>
       
        <form th:action="@{/guardarContenedor}" method="post" th:object="${contenedor}">
             <h1>CONTENIDOR</h1>
            <label for="nombre">Codi:</label>
            <input type="text" id="nombre" name="nombre" th:field="*{idcontenedor}"/>
            <br>    

            <input type="submit" name="enviar" value="GUARDAR"/>
        </form>
    </body>
</html>

