<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head th:replace="~{plantillas/plantilla :: head}"/>
    <body>
         <nav th:replace="~{plantillas/plantilla :: menuAdmin}"/>
        <main class="main-wrapper"/>
        <header th:replace="~{plantillas/plantilla :: headAdmin}"/>
        <h1>CONTENIDOR</h1>
        <form th:action="@{/guardarContenedor}" method="post" th:object="${contenedor}">
            <label for="nombre">Codi:</label>
            <input type="text" id="nombre" name="nombre" th:field="*{idcontenedor}"/>
            <br>

            <label for="utensilio">Utensilios:</label>       
            <ul>
                <li th:each="u : ${contenedor.utensilios}" id="utensilio">
                    <span th:text="${u.nombre}"></span>
                    <input type="hidden" th:name="utensilios" th:value="${u.idutensilio}" />
                    <div>
                        <button><a th:href="@{/eliminarUtensilio/}+${u.idutensilio}">ELIMINAR</a></button>
                    </div>
                </li>
            </ul>
            <button id="agregar-utensilio"><a th:href="@{/utensilioNuevo/}+${contenedor.idcontenedor}">UTENSILILI NUEVO</a></button>
            <br><br>
            <input type="submit" name="enviar" value="GUARDAR"/>
        </form>
    </body>
</html>

