<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Listado De Contenedores</title>
  </head>
  <body>
      <h1>Listado De Contenedores</h1>
    <ul th:each="c: ${contenedor}">
            <li>
                <span th:text="${c.idcontenedor}"></span>

                <div>
                    <button><a href="/contenedorNuevo">Editar</a></button>
                    <button>Eliminar</button>
                </div>
            </li>
        </ul>
    <button><a href="/contenedorNuevo">Nou Contenidor</a></button>
  </body>
</html>

