<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{plantillas/plantilla :: head}"/>
    <body>
        <nav th:replace="~{plantillas/plantilla :: menuAdmin}"/>
        <main class="main-wrapper"/>
        <header th:replace="~{plantillas/plantilla :: headAdmin}"/>

        <br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <form th:action="@{/guardarUtensilio}" method="post" th:object="${utensilio}">
                                <h1 class="card-title">UTENSILI</h1>
                                <input type="hidden" id="idUtensilio" name="utensilio" th:field="*{idutensilio}" />
                                <div class="form-group">
                                    <label for="nombre">Nom:</label>
                                    <input type="text" id="nombre" name="nombre" class="form-control" th:field="*{nombre}" />
                                </div>
                                <div class="form-group">
                                    <label for="cantidad">Quantitat:</label>
                                    <input type="text" id="cantidad" name="cantidad" class="form-control" th:field="*{cantidad}" />
                                </div>
                                
                                <br>
                                <div class="form-group text-center">
                                    <input type="submit" name="enviar" value="GUARDAR" class="btn btn-primary" />
                                    <a th:href="@{/editarContenedor/}+${contenedor.idcontenedor}" class="btn btn-secondary">CANCELAR</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
