<!DOCTYPE html>
<html>
<head>
	<title>FER COMANDA</title>
</head>
<body>
	<h1>FER COMANDA</h1>
	<form>
		<label for="entrepasetmana">Entrepà de la setmana:</label>
		<input type="text" id="entrepasetmana" name="entrepasetmana"><br><br>
		
		<label for="beguda">Beguda:</label>
		<select id="beguda" name="beguda">
			<option value="aigua">Aigua</option>
			<option value="cocacola">Coca Cola</option>
			<option value="fanta">Fanta</option>
			<option value="llimonada">Llimonada</option>
		</select><br><br>
		
		<label for="preutotal">Preu Total:</label>
		<input type="text" id="preutotal" name="preutotal"><br><br>
		
		<input type="submit" value="FER COMANDA">
	</form>
</body>
</html>
