<!DOCTYPE html>
<html>
  <head>
    <title>FER COMANDA</title>
  </head>
  <body>
    <form>
      <label for="entrepasemana">Entrepà de la semana:</label>
      <input type="text" id="entrepasemana" name="entrepasemana"><br><br>
      
      <label for="beguda">Beguda:</label>
      <select id="beguda" name="beguda">
        <option value="aigua">Aigua</option>
        <option value="refresc">Refresc</option>
        <option value="vi">Vi</option>
        <option value="cervesa">Cervesa</option>
      </select><br><br>
      
      <label for="preutotal">Preu Total:</label>
      <input type="text" id="preutotal" name="preutotal"><br><br>
      
      <input type="submit" value="FER COMANDA">
    </form>
  </body>
</html>
