<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${comanda}"></title>
</head>
<body>
	<h1  th:text="${comanda}"></h1>
	<form>
		<label for="entrepasetmana">Entrepà de la setmana:</label>
		<input type="text" id="entrepasetmana" name="entrepasetmana" value="Entrepà Mediterrani" readonly><br><br>
		<label for="beguda">Beguda:</label>
		<input type="text" id="beguda" name="beguda" value="Aigua" readonly><br><br>
		<label for="preutotal">Preu Total:</label>
		<input type="text" id="preutotal" name="preutotal" value="12,50 €" readonly><br><br>
		<input type="button" value="Esborrar comanda">
	</form>
</body>
</html>