<!DOCTYPE html>
<html>
    <head>
        <title>Llista de móduls</title>
    </head>
    <body>
        <button id="atras">Enrrere</button>
        <h1>Deudas</h1>

        <table border="1">
            <tr>
                <th>Data</th>
                <th>Deute</th>
            </tr>
            <tr> 
                <th>06-04-2022</th>
                <th>2,25€</th>
            </tr>
            <tr> 
                <th>13-04-2022</th>
                <th>3,25€</th>
            </tr>
            <tr> 
                <th>20-04-2022</th>
                <th>2,75€</th>
            </tr>
        </table>
    </body>
</html>
