<!DOCTYPE html>
<html>
    <html xmlns:th="http://www.thymeleaf.org">
        <title>Llista de móduls</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div> 
            <table border="1">
                <tr>
                    <th>Modul</th>
                    <th>Alumne</th>
                    <th>Cliente</th>
                    <th>Habilitado</th>
                </tr>
                <tr th:each="modulo : ${modulos}"> 
                    <th th:text="${modulo.nombreModulo}"></th>
                    <th><input type="checkbox" th:checked="${modulo.visibleAlumno}" name="option1" value="1"></th>
                    <th><input type="checkbox" th:checked="${modulo.visibleCliente}" name="option1" value="1"></th>
                    <th><input type="checkbox" th:checked="${modulo.habilitado}" name="option1" value="1"></th>
                </tr>
            </table>
        </div>
        <div>
            <button>Guardar canvis</button>
        </div>
    </body>
</html>
