<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear Suggeriment</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1>EDITAR SUGGERIMENT</h1>
        </div> 
        <div>
            <form action="" method="POST">    
                <label for="titulo">Titulo de la sugerencia:</label><br>
                <input type="text" id="titulo" name="titulo"><br>
                <label for="descripcion">Descripción de la sugerencia;</label><br>
                <input type="text" id="descripcion" name="descripcion"><br>
            </form>
             
            <button>Marcar llegit</button>
            <button>Borrar</button>
        </div>
    </body>
</html>
