<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editar Suggeriment</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1 th:text="${titulo}"></h1>
        </div> 
        <div>
             <form action="" method="POST" th:object="${sugerencia}">    
                <label for="titulo" th:text="${tituloSugerencia}"></label><br>
                <input type="text" id="titulo" name="titulo"  th:field="*{titulo}"/><br>
                <label for="descripcion" th:text="${descripcionSugerencia}"></label><br>
                <input type="text" id="descripcion" name="descripcion"  th:field="*{descripcion}"/><br>
            </form>
             
            <button>Guardar canvis</button>
            <button>Borrar</button>
        </div>
    </body>
</html>
