<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear Suggeriment</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1>CREAR SUGGERIMENT</h1>
        </div> 
        <div>
                
                <p>Titulo de la sugerencia:</p>
                <p th:text="${sugerencia.titulo}"></p>
                <p>Descripción de la sugerencia:</p>
                <p th:text="${sugerencia.descripcion}"></p>

             
            <button>Marcar llegit</button>
            <button>Borrar</button>
        </div>
    </body>
</html>
