<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Veure Suggeriment</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1>VEURE SUGGERIMENT</h1>
        </div> 
        <div th:if="${sugerencia!=null}">
            <form th:action="@{/guardarSuggeriment/1}" method="post" th:object="${sugerencia}">
                 <input type="hidden" id="titulo" name="titulo" th:field="*{idSugerencia}">
                <input type="hidden" id="titulo" name="titulo" th:field="*{titulo}">
                <input type="hidden" id="titulo" name="titulo" th:field="*{descripcion}">
                <p th:text="${tituloSugerencia}"></p>
                <p th:text="*{titulo}"></p>
                <p th:text="${descripcioSuggerimrnt}"></p>
                <p th:text="*{descripcion}"></p>
                <input type="submit" name="enviar" value="Marcar llegit"/>
            </form>
          
        </div>
       
    </body>
</html>
