/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 mar 2023, 23:17:43
    Author     : joseb
*/

table{
    border: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-collapse: collapse;
    
}

tr.spaceUnder>td{
  padding-bottom: 1em;
  padding-top: 1em;
}

td{
    border: 1px solid black;
    text-align: center; 
    padding: 15px;
    vertical-align: middle;}

#btn_mf{
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}