<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Nou Professor</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1>REGISTRAR PROFESSOR</h1>
        </div> 
        <div>
            <form action="" method="POST">
                <label for="correu">Correu electronic:</label><br>
                <input type="text" id="correu" name="correu"><br>
                <label for="contrasenya">Contrasenya:</label><br>
                <input type="password" id="contrasenya" name="contrasenya"><br>
                <label for="contrasenya">Confirmar contrasenya:</label><br>
                <input type="password" id="confirmar_contrasenya" name="confirmar_contrasenya"><br>     
            </form>
            <button>Registrar profesor</button>
        </div>
    </body>
</html>
