<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <!--<head th:replace="~{plantillas/plantilla :: headLogin}">-->
      <head th:replace="~{plantillas/plantilla :: headLogin}"></head>
  
    

    <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <form method="POST" th:action="@{/login}">
                    <div class="signin-wrapper">
                        <div class="form-wrapper">
                            <h6 class="mb-15">Login</h6>
                            <p class="text-sm mb-25">
                                Benvingut a Cantina Copèrnic! Si us plau, introdueix les teves dades per accedir a la nostra aplicació i gaudir dels nostres entrepans.
                            </p>

                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Email</label>
                                        <input type="text" class="form-control form-control-user"
                                               id="username" aria-describedby="emailHelp"
                                               placeholder="Introdueix el Email..." name="username">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    
                                    <div class="input-style-1">
                                        <label>Contrasenya</label>
                                        <input type="password" class="form-control form-control-user"
                                               id="password" placeholder="Introdueix la contrasenya..." name="password">
                                    </div>
                                </div>

                                <!-- end col -->
                                <div class="col-12">
                                    <div
                                        class="
                                        button-group
                                        d-flex
                                        justify-content-center
                                        flex-wrap
                                        "
                                        >
                                        <button
                                            class="
                                            main-btn
                                            primary-btn
                                            btn-hover
                                            w-100
                                            text-center
                                            " type="submit" style="background-color: orange"
                                            >
                                            Login
                                        </button>

                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                            <div class="singin-option pt-40">

                                <p class="text-sm text-medium text-dark text-center">
                                    No tens compte?
                                    <a href="signup.html">Dóna't d'alta aquí</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <img src="/imagenes/logo_letra_imagen.png" alt="Imagen de fondo" style="max-width: 100%;">
            </div>
        </div>
    </div>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/Chart.min.js"></script>
    <script src="assets/js/dynamic-pie-chart.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/fullcalendar.js"></script>
    <script src="assets/js/jvectormap.min.js"></script>
    <script src="assets/js/world-merc.js"></script>
    <script src="assets/js/polyfill.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
