<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1 th:text="${titulo}"></h1>
        </div> 
        <div>
            <form action="/guardarNuevaPromocion" method="POST" th:object="${promocion}">
                <input type="hidden" name="id" th:field="*{id}"/>
                <label for="descripcion">Descripció:</label><br>
                <textarea id="desc" name="desc" th:field="*{desc}" rows="4" cols="50"></textarea><br>  
                <label for="condicio">Condicio:</label><br>
                <input id="condicio" type="number" name="condicio" th:field="*{condicio}"><br>
                <br>
                <input type="submit" name="guardar" value="Guardar promoció"/>
                <button><a href="/listaPromociones">Cancelar</a></button>
            </form>

            
        </div>
    </body>
</html>
