<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Crear promoció</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1>CREAR PROMOCIÓ</h1>
        </div> 
        <div>
            <form action="" method="POST">
                <label for="descripcio">Descripció:</label><br>
                <textarea id="descripcio" name="descripcio" rows="4" cols="50"></textarea><br>  
                <label for="condicio">Condicio:</label><br>
                <input type="number" id="condicio" name="condicio"><br>
            </form>
            <button><a href="/listaPromociones">Crrear promoció</a></button>
            <button><a href="/listaPromociones">Cancelar</a></button>
        </div>
    </body>
</html>
