<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Promocions</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <ul th:each="profesor: ${profesores}">
                <li th:text="${profesor.correo}"></li> 
                <button><a href="/listaPromociones">Utilitza</a></button>
            </ul>
        </div>
    </body>
</html>