<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Promocions</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1>Promocions</h1>
        </div>
        <div>
            <ul th:each="promocio: ${promociones}">
                <li th:text="${promocio.id}"></li> 
                <li th:text="${promocio.desc}"></li>
                <a th:href="@{/editarPromocion/}+${promocio.id}">Edita</a>
                <a>Elimina</a>
                <a th:href="@{/detallesPromocion/}+${promocio.id}">Usuaris</a>
            </ul>
        </div>
        <div>
            <button><a>Nova promomoció</a></button>
        </div>
    </body>
</html>