<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Promocions</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <ul th:each="promocio: ${promociones}">
                <li th:text="${promocio.id}"></li> 
                <li th:text="${promocio.desc}"></li>
                <button><a href="/editarPromocion">Edita</a></button>
                <button>Elimina</button>
                <button><a href="/detallesPromocion">Usuaris</a></button>
            </ul>
        </div>
        <div>
            <button><a href="/crearPromocion">Nova promomoció</a></button>
        </div>
    </body>
</html>