<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista profesors</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
             <ul th:each="profesor: ${profesores}">
                <li>
                    <span th:text="${profesor.correo}"></span>

                <div>
                <a th:href="@{/eliminarProfesor/}+${profesor.correo}" onclick="return confirm('Estás segur de que vols eliminar aquesta professor?')">
                    <button>Eliminar</button>
                </a>
            </div>
            </li>
            </ul>
        </div>
        <div>
           <a th:href="@{/nouProfessor}"/>
                <button>Nou Profesor</button>
           </a>
            <a th:href="@{/nouAlumne}"/>
                <button>Nou Alumnre</button>
           </a>
        </div>
    </body>
</html>
