<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Nou Alumne</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1 th:text="${tituloPagina}"></h1>
        </div> 
        <div>
            <form action="" method="POST">
                <label for="correu" th:text="${correo}"></label><br>
                <input type="text" id="correu" name="correu"><br>
                <label for="contrasenya" th:text="${contrasenya}"></label><br>
                <input type="password" id="contrasenya" name="contrasenya"><br>
                <label for="contrasenya" th:text="${confirmarContrasenya}"></label><br>
                <input type="password" id="confirmar_contrasenya" name="confirmar_contrasenya"><br>  
            </form>
            <button>Registrar alumne</button>
        </div>
    </body>
</html>
