<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/css/nuevoAlumno.css" />  
    <head th:replace="~{plantillas/plantilla :: head}"/>
    <body>
       <nav th:replace="~{plantillas/plantilla :: menuAdmin}"/>
        <main class="main-wrapper"/>
        <header th:replace="~{plantillas/plantilla :: headAdmin}"/>
        <div>
            <h1 class="titulo">REGISTRAR ALUMNE</h1>
        </div> 
        <div>
            <form th:action="@{/guardarAlumno}" method="post" th:object="${alumno}">
                <p>
                    <span class="span" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"/><br>
                    <label for="nombre" >Nom:</label>
                    <input type="text" name="nombre" th:field="*{nombre}"/>
                    
                </p>
                <p>
                    <span class="span" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"/><br>
                <label for="nombre" >Cognoms:</label>
                <input type="text" name="apellidos" th:field="*{apellidos}"/>
              
                </p>
                <p>
                    <span class="span" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"/><br>
                    <label for="correu">Correu electronic:</label>
                    <input type="text" id="correu" name="correu" th:field="*{correo}">
                    
                </p>
                <span class="span" th:if="${#fields.hasErrors('confirmarPassword')}" th:errors="*{confirmarPassword}"/><br>
                <span class="span" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/> <br>
                <p>
                    <label for="contrasenya">Contrasenya:</label><br>
                    <input class="pass" type="password" id="contrasenya" name="contrasenya" th:field="*{password}">
                    
                </p>
                <p>
                    <label  for="contrasenya" >Confirmar contrasenya:</label><br>
                    <input class="pass" type="password" id="confirmar_contrasenya" name="confirmar_contrasenya" th:field="*{confirmarPassword}">
                </p>
                <input type="submit" name="enviar" value="Registrar alumne"/>
            </form>
           
        </div>
    </body>
</html>
