<!DOCTYPE html>
<html>
<head>
    <title th:text="${crearDeudaWord}"></title>
</head>
<body>
    <!-- <button th:text="${atrasWord}"></button> -->
    <h1 th:text="${crearDeudaWord}"></h1>
    <form>
        <label for="c" th:text="${quantitatWord}"></label>
        <input type="number" name="c"><br>
        <label for="f" th:text="${dataWord}"></label>
        <input type="date" name="f"><br><br>
    </form>
    
    <button id="crear-deuda" th:text="${crearDeudaWord}"></button>
    <button id="cancelar" th:text="${cancelarWord}"></button>
</body>
</html>
