<!DOCTYPE html>
<html>
<head>
    <title>Crear deute</title>
</head>
<body>
    <h1>Crear deute</h1>
    <form th:action="@{/guardarDeuda/}+${correo}" method="post" th:object="${deuda}">        
        <input type="hidden" name="id" th:field="*{idDeuda}"/>
       
        
        <label for="cantidad">Quantitat: </label>
        <input type="number" step="any" name="cantidad" th:field="*{cantidad}"><br>
        <span th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"/>
        
        <label for="fechaDeLaDeuda">Data: </label>
        <input type="date" name="fechaDeLaDeuda" th:field="*{fechaDeLaDeuda}"><br><br>
        <span th:if="${#fields.hasErrors('fechaDeLaDeuda')}" th:errors="*{fechaDeLaDeuda}"/>
        
        <button type="submit">Crear deute</button>
        <button type="button" onclick="window.location.href='/listarProfesores'">Cancel·lar</button>
        
    </form>
    
</body>
</html>
