<!DOCTYPE html>
<html>
    <head>
        <title>Listado de deudas</title>
    </head>
    <body>
        <button id="atras">Enrrere</button>
        <h1>Deudas</h1>

        <table border="1">
            <tr>
                <th>Data</th>
                <th>Deute</th>
            </tr>
            <tr> 
                <th>06-04-2022</th>
                <th>2,25€</th>
            </tr>
            <tr> 
                <th>13-04-2022</th>
                <th>3,25€</th>
            </tr>
            <tr> 
                <th>20-04-2022</th>
                <th>2,75€</th>
            </tr>
        </table>
        <!-- <div th:if="${gossos!=null && !gossos.empty}">
                
                <table border="1">
                    <tr>
                        <th>Data</th>
                        <th>Deute</th>
                        <th>Marcar com a pagada</th>
                    </tr>
                    
                    <tr th:each="gos : ${gossos}"> 
                        <td th:text="${gos.nom}"></td> 
                        <td th:text="${gos.edat}"></td>
                        <td th:text="${gos.sexe}"></td> 
                    </tr>
                </table>
               
            </div>
            
            <div th:if="${gossos==null || gossos.empty}">
                
                No hi ha deutes a la llista.
            </div>-->
      <p>Profesor: Pepe</p>
      <p>Emal: pepe@gmail.com</p>
    </body>
</html>