<!DOCTYPE html>
<html>
    <head>
        <title th:text="${listadoDeudasWord}"></title>
    </head>
    <body>
        <button id="atras" th:text="${atrasWord}"></button>
        <h1 th:text="${listadoProfesoresWord}"></h1>

        <div th:if="${listadoProfesores!=null && !listadoProfesores.empty}">    
            <table border="1">
                <tr>
                    <th th:text="${correoWord}"></th>
                    <th th:text="${verWord}"></th>
                </tr>
                <tr th:each="i : ${listadoProfesores}"> 
                    <td th:text="${i.correo}"></td>
                    <td><img th:src="@{'/imagenes/visibilityIcon.webp'}" width='50' height='50'/></td>
                </tr>
            </table>
        </div>

        <div th:if="${listadoProfesores==null || listadoProfesores.empty}" th:text = "${noHayProfesoresWord}"></div>
        
    </body>
</html>