<!DOCTYPE html>
<html>
    <head th:replace="~{plantillas/plantilla :: head}"/>
    <body>
        <link rel="stylesheet" href="/css/formulario.css" />
        <nav th:replace="~{plantillas/plantilla :: menuAdmin}"/>
        <main class="main-wrapper"/>
        <header th:replace="~{plantillas/plantilla :: headAdmin}"/>
        <h1>Crear tasca</h1>
        <form th:action="@{/guardarTarea}" method="post" th:object="${tarea}">
            <input type="hidden" name="id" th:field="*{id}"/>
            <label for="c">Alumne: </label>
            <input type="text" name="c" th:field="*{alumno}"><br><br>
            <span th:if="${#fields.hasErrors('alumno')}" th:errors="*{alumno}"/>
            
            <label for="fecha">Data: </label>
            <input type="date" id="fecha" name="fecha" th:field="*{fecha}"><br><br>
            <span th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"/>

            <label for="tipoTarea">Tipus de tasca: </label>
           
            <select th:field="*{tipo}">
                <option th:each="i : ${listaTiposTarea}" th:value="${i.id}" th:text="${i.nombre}"/>               
            </select>
            <span th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}"/>
            <br><br>
            <button type="submit"> Crear tasca</button>
            <button type="button" onclick="window.location.href='/listarTareas'">Cancel·lar</button>
        </form>
    </body>
</html>