<!DOCTYPE html>
<html>
    <head th:replace="~{plantillas/plantilla :: head}"/>
    <body>
        <link rel="stylesheet" href="/css/formulario.css" />
        <nav th:replace="~{plantillas/plantilla :: menuAdmin}"/>
        <main class="main-wrapper"/>
        <header th:replace="~{plantillas/plantilla :: headAdmin}"/>
        <h1>Crear tipus de tasca</h1>
        <form th:action="@{/guardarTipoTarea}" method="post" th:object="${tipoTarea}">
            <input type="hidden" name="id" th:field="*{id}"/>
            
            <label for="nombre">Tipus de tasca: </label>
            <input type="text" name="nombre" th:field="*{nombre}"><br>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"/>
            
            <button type="submit">Crear tipus de tasca</button>
            <button type="button" onclick="window.location.href='/listarTiposTarea'">Cancel·lar</button>
        </form>
    </body>
</html>
