<!DOCTYPE html>
<html>
    <head th:replace="~{plantillas/plantilla :: head}"/>
    <body>
        <link rel="stylesheet" href="/css/horarioCSS.css" />
        <nav th:replace="~{plantillas/plantilla :: menuAdmin}"/>
        <main class="main-wrapper"/>
        <header th:replace="~{plantillas/plantilla :: headAdmin}"/>
        <h1>Horari</h1>
        <table id="horario">
            <thead>
                <tr>
                    <th>Dilluns</th>
                    <th>Dimarts</th>
                    <th>Dimecres</th>
                    <th>Dijous</th>
                    <th>Divendres</th>
                    <th>Dissabte</th>
                    <th>Diumenge</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterar sobre el arreglo calendario para mostrar las filas -->
                <tr th:each="fila : ${calendario}">
                    <!-- Iterar sobre cada ArrayList dentro de la fila para mostrar las celdas -->
                    <td th:each="celda : ${fila}">
                        <!-- Mostrar el primer valor del ArrayList -->
                        <span th:text="${celda[0]}"></span>
                        <!-- Si el ArrayList tiene más de un valor, mostrar los demás -->
                        <div th:if="${#lists.size(celda) > 1}">
                            <span th:each="valor : ${celda}" th:unless="${#strings.equals(valor, celda[0])}">
                                <span th:text="${valor}"></span>
                                <br />
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button onclick="window.location.href = '/listarTareas'">Llista tasques</button>
    </body>
</html>

