<!DOCTYPE html>
<html>
    <head>
        <title th:text="${horarioWord}"></title>
        <style>
            table {
                border-collapse: collapse;
                margin: 0 auto;
            }
            th, td {
                border: 1px solid black;
                padding: 10px;
            }
            th {
                background-color: #ccc;
            }
            td {
                text-align: center;
            }
            .groc {
                background-color: #ff0;
            }
        </style>
    </head>
    <body>
        <h1 th:text="${horarioWord}"></h1>
        <table id="horario">
            <thead>
                <tr>
                    <th th:text="${lunesWord}"></th>
                    <th th:text="${martesWord}"></th>
                    <th th:text="${miercolesWord}"></th>
                    <th th:text="${juevesWord}"></th>
                    <th th:text="${viernesWord}"></th>
                    <th th:text="${sabadoWord}"></th>
                    <th th:text="${domingoWord}"></th>
                </tr>
            </thead>
            <tbody>
    <!-- Generar las filas de la tabla -->
    <tr th:each="fila : ${tablaHorario}">
        <!-- Generar las celdas de cada fila -->
        <td th:each="celda : ${fila}" th:class="${celda.contains('avui') ? 'groc' : ''}">
            <span th:each="palabra : ${#strings.arraySplit(celda, ' ')}" th:text="${palabra}"></span>
        </td>
    </tr>
</tbody>
        </table>
        <button th:text="${listaTareasWord}" onclick="window.location.href = '/listarTareas'"></button>
    </body>
</html>