<!DOCTYPE html>
<html>
    <head th:replace="~{plantillas/plantilla :: head}"/>
    <body>
        <link rel="stylesheet" href="/css/listados.css" />
        <nav th:replace="~{plantillas/plantilla :: menuAdmin}"/>
        <main class="main-wrapper"/>
        <header th:replace="~{plantillas/plantilla :: headAdmin}"/>
        <h1>Llistat tipus de tasques</h1>

        <div th:if="${listadoTiposTarea!=null && !listadoTiposTarea.empty}">    
            <table border="1">
                <tr>
                    <th>Tipus de tasca</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="tipoTarea : ${listadoTiposTarea}"> 
                    <td th:text="${tipoTarea.nombre}"></td>
                    <td>
                        <a th:href="@{/eliminarTipoTarea/}+${tipoTarea.id}" onclick="return confirm('Estás segur de que vols eliminar aquesta tasca?')"/>Eliminar
                    </td>
                </tr>
            </table>
        </div>

        <div th:if="${listadoTiposTarea==null || listadoTiposTarea.empty}">No hi ha tipus de tasques</div>
        <button onclick="window.location.href='/listarTareas'">Llista de tasques</button>
        <button onclick="window.location.href='/crearTipoTarea'">Crear tipus de tasca</button>
    </body>
</html>
