<!DOCTYPE html>
<html>
    <head>
        <title>Llistat tasques</title>
    </head>
    <body>
        <h1>Llistat tasques</h1>

        <div th:if="${listadoTarea!=null && !listadoTarea.empty}">    
            <table border="1">
                <tr>
                    <th>Tasca</th>
                    <th>Alumne</th>
                    <th>Data</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="i : ${listadoTarea}"> 
                    <td th:text="${i.tipo.nombre}"></td>
                    <td th:text="${i.alumno}"></td>
                    <td th:text="${#temporals.format(i.fecha, 'dd/MM/yyyy')}"></td>
                    <td>
                        <a th:href="@{/editarTarea/{id}(id=${i.id})}">Editar</a>
                    </td>
                    <td>
                        <a th:href="@{/eliminarTarea/{id}(id=${i.id})}" onclick="return confirm('Estás segur de que vols eliminar aquesta tasca?')">Eliminar</a>
                    </td>
                </tr>
            </table>
        </div>

        <div th:if="${listadoTarea==null || listadoTarea.empty}">No hi ha tasques</div>
        <br>
        <button onclick="window.location.href = '/horarioTareas'">Horari</button>
        <button onclick="window.location.href = '/crearTarea'">Crear tasca</button>
        <button onclick="window.location.href = '/listarTiposTarea'">Veure tipus de tasques</button>
    </body>
</html>
