<!DOCTYPE html>
<html>
  <head>
    <title>Crear Entrepà de la setmana</title>
  </head>
  <body>
    <h1>Crear Entrepà de la setmana</h1>
    <img src="ruta-de-la-imagen.jpg" alt="Imagen del Entrepà de la setmana">
    <br>
    <button>Pujar Imatge</button>
    <br>
    <label for="receta">Recpta:</label>
    <select id="receta">
      <option value="opcion1">Opción 1</option>
      <option value="opcion2">Opción 2</option>
      <option value="opcion3">Opción 3</option>
    </select>
    <br>
    <label for="precio">Preu:</label>
    <input type="text" id="precio" name="precio">
    <br>
    <label for="descripcion">Descripció:</label>
    <br>
    <textarea id="descripcion" name="descripcion" rows="4" cols="50"></textarea>
    <br>
    <button>Guardar</button>
    <button>Cancelar</button>
  </body>
</html>
