<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${com1}"></title>
    </head>
    <body>
        <!-- Título de la lista de pedidos -->
        <h2 th:text="${comand}"></h2>

        <!-- Lista con botones -->	
        <ul th:each="p: ${pedidos}">
            <li>
                <span th:text="${p.id_bocadilloSemana}"></span>

                <div>
                    <button><a href="/verPedidoAdministrador">Visualitzar</a></button>
                    <button>Eliminar</button>
                </div>
            </li>
        </ul>

        <!-- Botones nou entrepa y editar entrepa -->
        <button id="nou-entrepa"><a href="/crearBocadilloDeLaSemana">Nou entrepa</a></button>
        <button id="editar-entrepa"><a href="/crearBocadilloDeLaSemana">Editar entrepa</a></button>

    </body>
</html>
