<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${com1}"></title>
</head>
<body>

	<!-- Título de entrepa de la semana -->
	<h1 th:text="${entrs}"></h1>

	<!-- Imagen y descripción -->
	<img src="ruta/a/la/imagen.jpg">
        
	<p th:text="${descEntr}"></p>

        <!-- Título de la lista de pedidos -->
	<h2 th:text="${comand}"></h2>

	<!-- Lista con botones -->
	<ul>
		<li>
			<h3>Nombre del primer elemento</h3>
			<button>visualitzar</button>
			<button>Eliminar</button>
		</li>
		<li>
			<h3>Nombre del segundo elemento</h3>
			<button>visualitzar</button>
			<button>Eliminar</button>
		</li>
		<li>
			<h3>Nombre del tercer elemento</h3>
			<button>visualitzar</button>
			<button>Eliminar</button>
		</li>
	</ul>

	<!-- Botones nou entrepa y editar entrepa -->
	<button id="nou-entrepa">Nou entrepa</button>
	<button id="editar-entrepa">Editar entrepa</button>

</body>
</html>