<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{plantillas/plantilla :: head}"/>
    <body>
        <nav th:replace="~{plantillas/plantilla :: menuAdmin}"/>
        <main class="main-wrapper"/>
        <header th:replace="~{plantillas/plantilla :: headAdmin}"/>

       <div class="card">
  <div class="card-body">
    <h1 th:text="${pedido.bocadilloSemana.nombre}" class="text-center"></h1>
    <form action="@{/navega}" method="post" th:object="${pedido}" readonly>
      <div class="form-group">
        <label for="campo1">Email:</label>
        <label for="campo1" th:text="${correostr}"></label>
        <input type="text" id="campo1" th:field="*{profesores.correo}" readonly class="form-control">
      </div>
      <div class="form-group">
        <label for="campo2">Entrepà:</label>
        <label for="campo2" th:text="${entrepastr}"></label>
        <input type="text" id="campo2" th:field="*{bocadilloSemana.nombre}" readonly class="form-control">
      </div>
      <div class="form-group">
        <label for="campo3">Beguda:</label>
        <input type="text" id="campo3" th:field="*{bebida.nombre}" readonly class="form-control">
      </div>
      <div class="form-group">
        <label for="campo5">Preu total:</label>
        <input type="text" id="campo5" th:value="${preciototal}" readonly class="form-control">
      </div>
      <div class="form-group">
        <label for="observaciones">Observacions:</label>
        <textarea id="observaciones" rows="4" cols="50" th:field="*{profesores.observaciones}" class="form-control"></textarea>
      </div>
    </form>
    <div class="text-center">
      <button class="btn btn-danger">
        <a th:href="@{/eliminarPedido/}+${pedido.id_pedido}" style="color: white" onclick="return confirm('Estás segur de que vols eliminar aquesta comanda?')">Borrar</a>
      </button>
    </div>
  </div>
</div>

    </body>
</html>
