<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${pedido.bocadilloSemana.nombre}"></title>
    </head>
    <body>
        <h1 th:text="${pedido.bocadilloSemana.nombre}"></h1>
        
        <form action="@{/navega}" method="post" th:object="${pedido}"  readonly>
            <label for="campo1" th:text="${correostr}"></label>
            <input type="text" id="campo1" th:field="*{profesores.correo}"  readonly><br>
            <br>
            <label for="campo2" th:text="${entrepastr}"></label>
            <input type="text" id="campo1" th:field="*{bocadilloSemana.nombre}"  readonly><br>
            <br>
            <label for="beguda">Beguda:</label>
            <input type="text" id="campo1" th:field="*{bebida.nombre}"  readonly><br>
             <br>
            <label for="campo5">Preu total:</label>
            <input type="text" id="campo5" th:value="${preciototal}"  readonly><br>
            <br><br>
            <label for="observaciones">Observacions:</label><br>
            <textarea id="observaciones" rows="4" cols="50" th:field="*{profesores.observaciones}"></textarea><br>

        </form>
        <button><a th:href="@{/eliminarPedido/}+${pedido.id_pedido}"/> Borrar</button>

    </body>
</html>
