<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${com1.nombre}"></title>
    </head>
    <body>
        <form action="" method="POST" th:object="${pedido}">
            <label for="campo1" th:text="${correostr}"></label>
            <input type="text" id="campo1" th:field="*{correo}"><br>
            <br><br>
            <label for="campo2" th:text="${entrepastr}"></label>
            <select id="entrepas_setmana">
                <option th:each="a: ${bocsemana}" th:text="${a.nombre}"></option>		
            </select><br><br>

            <label for="beguda">Beguda:</label>
            <select id="beguda">
                <option th:each="a: ${begudes}" th:text="${a.nombre}"></option>			
            </select><br><br>
            
            <label for="campo5">Preu total:</label>
            <input type="text" id="campo5"><br>
            <br><br>
            <label for="observaciones">Observacions:</label><br>
            <textarea id="observaciones" rows="4" cols="50"></textarea><br>

            <button><a href="/pedidosAdministrador">Esborrar Comanda</a></button>
        </form>

  
    </body>
</html>
